section.about.py-5.px-4
  h3 about us
  div.row.py-5.mb-5
    p.offset-xl-2.col-xl-8.lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lectus elit, tincidunt nec turpis sed, accumsan iaculis ipsum. Nulla at augue auctor, tristique erat in, ultricies nunc. Mauris eget metus leo. Ut in mi lacinia, mattis nisl non, ultrices risus. Vestibulum aliquet aliquam ipsum ut ullamcorper. Pellentesque fringilla, massa vel rutrum consequat, nulla velit fermentum dolor, sed scelerisque.
  div.container-fluid.team
    div.row.px-5
      div.col-xs-12.col-md-3.person
        img.rounded-circle(src="img/team01.jpg")
        p.name Liz Stewart
        p.position
          em Product Manager
        p.lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        ul.container.list-inline.justify-content-center
          li.list-inline-item
            a(href="#")
              i.fa.fa-facebook
          li.list-inline-item
            a(href="#")
              i.fa.fa-twitter
          li.list-inline-item
            a(href="#")
              i.fa.fa-envelope
      div.col-xs-12.col-md-3.person
        img.rounded-circle(src="img/team02.jpg")
        p.name Brad Casey
        p.position
          em Front-end Developer
        p.lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        ul.container.list-inline.justify-content-center
          li.list-inline-item
            a(href="#")
              i.fa.fa-facebook
          li.list-inline-item
            a(href="#")
              i.fa.fa-twitter
          li.list-inline-item
            a(href="#")
              i.fa.fa-envelope
      div.col-xs-12.col-md-3.person
        img.rounded-circle(src="img/team03.jpg")
        p.name Pamela Chow
        p.position
          em Web Designer
        p.lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        ul.container.list-inline.justify-content-center
          li.list-inline-item
            a(href="#")
              i.fa.fa-facebook
          li.list-inline-item
            a(href="#")
              i.fa.fa-twitter
          li.list-inline-item
            a(href="#")
              i.fa.fa-envelope
      div.col-xs-12.col-md-3.person
        img.rounded-circle(src="img/team04.jpg")
        p.name Tim Gates
        p.position
          em Back-end Guru
        p.lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        ul.container.list-inline.justify-content-center
          li.list-inline-item
            a(href="#")
              i.fa.fa-facebook
          li.list-inline-item
            a(href="#")
              i.fa.fa-twitter
          li.list-inline-item
            a(href="#")
              i.fa.fa-envelope