section.deliver
  div.container-fluid
    div.row
      div.jumbotron.offset-2.col-8.mb-0
        p
          span.grey-text  WE WORK HARD TO DELIVER A
          |  HIGH QUALITY SERVICE
          span.grey-text . OUR AIM IS YOUR COMPLETE
          |  SATISFACTION.