section.footer.py-5
  div.container-fluid
    h3.text-uppercase contact us
    div.row.contacts.pt-4
      div.col-xs-12.col-md-4.f-1
        h4 send us a message:
        p onassis@blacktie.co
      div.col-xs-12.col-md-4.f-2
        h4 call us:
        p +55 3984-4389
      div.col-xs-12.col-md-4.f-3
        h4 we are social
        ul.container.list-inline.justify-content-center
          li.list-inline-item
            a(href="#")
              i.fa.fa-facebook
          li.list-inline-item
            a(href="#")
              i.fa.fa-twitter
          li.list-inline-item
            a(href="#")
              i.fa.fa-envelope
section.credits.container-fluid.justify-content-end.py-3.px-5
  p Created by
    span.text-uppercase  blacktie.co