section.header
  nav.navbar-toggleable-xs.navbar-inverse
    button.navbar-toggler.navbar-toggler-right.collapsed
      span.navbar-toggler-icon

    div.collapse.navbar-collapse
      a.navbar-brand onassis
      ul
        li
          a(href="#home") home
        li
          a(href="#services") services
        li
          a(href="#portfolio") portfolio
        li
          a(href="#about") about
        li
          a(href="#contact") contact
      ul.links
        li
          a(href="#")
        li
          a(href="#")
        li
          a(href="#")
        li
          a(href="#")

  div.headings
    h1 Onassis
    h2 Free Bootstrap 3 Theme