section.header
  nav.navbar.navbar-toggleable-xs
    button.navbar-toggler.navbar-toggler-right(type="button",
      data-toggle="collapse", data-target="#menu",
      aria-controls="menu", aria-expanded="false")
      span
    div.collapse.navbar-collapse.navbar-inverse#menu
      a.navbar-brand onassis
      ul.navbar-nav.list-unstyled
        li.nav-item
          a.nav-link(href="#home") home
        li.nav-item
          a.nav-link(href="#services") services
        li.nav-item
          a.nav-link(href="#portfolio") portfolio
        li.nav-item
          a.nav-link(href="#about") about
        li.nav-item
          a.nav-link(href="#contact") contact
      ul.links.list-unstyled
        li
          a(href="#")
        li
          a(href="#")
        li
          a(href="#")
        li
          a(href="#")

  div.headings
    h1 Onassis
    h2 Bootstrap 4 Theme