nav.menu#navmenu
  div.menu-wrapper.text-left
    h3
      a.navbar-brand(href="#home") onassis
    i.fa.fa-close#menucloser
    a(href="#home") home
    a(href="#services") services
    a(href="#portfolio") portfolio
    a(href="#about") about
    a(href="#contact") contact
    a.social(href="#")
      i.fa.fa-facebook
    a.social(href="#")
      i.fa.fa-twitter
    a.social(href="#")
      i.fa.fa-dribbble
    a.social(href="#")
      i.fa.fa-envelope
  div#menuopener.active
    i.fa.fa-bars


section.header#home
  div.headings
    h1 Onassis
    h2 Bootstrap 4 Theme