section.services.py-5.px-4
  h3 our services
  div.container-fluid
    div.row.cities.py-5
      div.col-xs-12.col-sm-6.col-lg-3
        img(src="img/s1.png")
        p.city-name London
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.
      div.col-xs-12.col-sm-6.col-lg-3
        img(src="img/s2.png")
        p.city-name Berlin
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.
      div.col-xs-12.col-sm-6.col-lg-3
        img(src="img/s3.png")
        p.city-name Paris
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.
      div.col-xs-12.col-sm-6.col-lg-3
        img(src="img/s4.png")
        p.city-name Tokyo
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.