section.welcome.py-5
  div.container-fluid
    div.row
      div.jumbotron.offset-2.col-8
        p
          span.grey-text  WELCOME TO
          |  ONASSIS. A FREE BOOTSTRAP 4
          span.grey-text  THEME. CRAFTED WITH LOVE BY
          |  BLACKTIE.CO. IDEAL FOR
          span.grey-text  AGENCIES & FREELANCERS.