// Typography

$raleway-font:      'Raleway';
$lato-font:         'Lato';
$font-size-base:    12px;
$line-height-base:  12;

// Colors

$accent-color:  #f85c37;
$light-grey:    #f2f2f2;
$nav-grey:      #808080;
$grey:          #7b7b7b;
$deep-black:    #2f2f2f;
$credits-black: #222222;
$section-black: #333;
$p-black:       #555;